a.nav{
        text-decoration: none;
        color: white;
        padding: 0px 12px;
    }
    a.nav:hover{
        text-decoration: underline;
        color: red;
    }

    nav, footer p{
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    nav ul{
        padding: 0;
        list-style-type: none;
    }

    nav li {
        display: inline-block;
    }
    body{
        max-width: 1100px;
        margin: 0 auto;
        font-family: Helvetica, Arial, sans-serif;
    }
    header, footer {
        position: fixed;
        width: 100%;
        background-color:black;
        color:  white;
        left: 0;
        z-index:1000;
    }

    header {
        top: 0;
    }

    footer {
        bottom: 0;
    }
    
    .pageTitle{
        width: 100%;
        height: 200px;
        text-align: center;
        background-color: lightgray;
        margin-top: 49px;
        padding-top: 50px;
    }
    .pageTitle h1 {
        text-transform: uppercase;
    }
    section{
        margin-bottom: 50px;
    }
    .products{
        text-align: justify;
    }
    .products article{
        width: 33.3333%;
        border-right: 2px solid lightgray;
        margin: 0 auto;
        display: inline-block;
        box-sizing: border-box;
    }
    .products article:last-child{
        border-right: none;
    }
    .products h3, section.signUp{
        text-align: center;
    }
    .products div {
        width: 350px;
        height: 200px;
        margin: 0 auto;
    }
    .products img {
        width: 100%;
        height: 100%;
    }

    .products video {
        width: 100%;
        height: 100%;
    }

    .products article p {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 5px;
            
    }

    section.signUp{
        background-color: lightgray;
        border-radius: 5px;
        border-radius: 5px;
        padding-bottom: 15px;
        padding-top: 30px;
    }

    .signUp input{
        border-radius: 5px;
        box-shadow: 3px 3px 0px black;
    }

    input[type="submit"] {
        box-shadow: none;
    }

        table {
        width: 77%;
        border-collapse: collapse;
        margin: 0 auto;
    }

    caption {
        font-weight: bold;
        padding: 20px;
    }

    th, td {
        border: 1px solid black;
    }

    tbody th, tbody td, tfoot th, tfoot td {
        text-align: right;
    }

    th {
        padding: 0px 5px;
    }   
    
        tbody tr:nth-child(odd) {
        background-color: lightgray;
    }

    td:last-child {
        color: red;
    }

    tbody tr:last-child{
        background-color: white;
    }

    tbody tr:hover {
        background-color: lightblue;
    }

    @media screen and (max-width: 1000px){
            .products article{
                width: 100%;
        }
            .products div {
            width: 80%;
            height: 80%;
            margin: 0 auto;
        }

        .signUp label {
            display: block;
            margin: 10px;
        }
    }